/*
Possible breakpoints
1 phone <= 600px
2 tab-port <= 900px
3 tab-land <= 1200
4 [1200-1800] for the general desktop
5 big-desktop >= 1800

Its better to use em in media queries
1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem;
  box-sizing: border-box;
  color: #777; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* Animatiions */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(18); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 800px;
    letter-spacing: 5.2rem;
    transform: translateX(1.8rem);
    animation: moveInRight 1s ease-in; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 2rem;
        transform: translateX(0.7rem); } }
  .heading-primary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1rem;
    animation: moveInLeft 1s ease-in;
    margin-bottom: 6rem; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.2rem;
        letter-spacing: .6rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ad5389, #3c1053);
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  transition: all .2s;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .heading-secondary:hover {
    transform: skewX(5deg) skewY(3deg) scale(1.2); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem;
      letter-spacing: 1px; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem;
      letter-spacing: .8px; } }

.heading-tartiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #3c1053;
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  border-bottom: 1px solid #3c1053;
  transition: all .1s; }

.btn-text:hover {
  background: linear-gradient(to right, #ad5389, #3c1053);
  color: #fff;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem #000; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 6rem  !important; } }

.u-margin-bottom-mid {
  margin-bottom: 4rem  !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem  !important; }

.u-center-text {
  text-align: center  !important; }

.u-margin-top-big {
  margin-top: 10rem  !important; }

.u-margin-top-mid {
  margin-top: 6rem  !important; }

.u-margin-top-small {
  margin-top: 4rem  !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  transition: all .2s;
  font-size: 1.8rem;
  border-radius: 10rem;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.8rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #ad5389; }

.btn--white {
  background-color: #fff;
  color: #2a1049; }
  .btn--white::after {
    background-color: #fff; }

.btn--violet {
  background-color: #3c1053;
  color: #fff; }
  .btn--violet::after {
    background-color: #3c1053; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .2s ease-in; }

.btn--animated {
  animation: moveInUp .4s ease-in .75s;
  animation-fill-mode: backwards; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    z-index: 10;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: .2s all;
    outline-offset: 1.5rem;
    border-radius: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 45%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); } }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.3);
      outline: 1.5rem solid #3c1053; }
  @media (max-width: 56.25em) {
    .composition_p1 {
      margin-right: 2rem; } }
  .composition_p2 {
    top: 5rem;
    left: 40%; }
    @media (max-width: 56.25em) {
      .composition_p2 {
        top: 0;
        left: 0; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  text-align: center;
  border-radius: 3px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 1.5rem; } }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #ad5389, #3c1053);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-10px) scale(1.05); }

.card {
  perspective: 150rem;
  position: relative;
  height: 48rem; }
  .card__side {
    height: 48rem;
    transition: all .6s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      background-color: steelblue;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, #ad5389, #3c1053); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, #a8e063, #56ab2f); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, #FFC371, #FF5F6D); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-position: center;
    background-size: cover; }
    .card__picture-1 {
      background-image: linear-gradient(to right, #ad5389, #3c1053), url("../img/deals-img.jpg"); }
    .card__picture-2 {
      background-image: linear-gradient(to right, #a8e063, #56ab2f), url("../img/card-img.jpg"); }
    .card__picture-3 {
      background-image: linear-gradient(to right, #FFC371, #FF5F6D), url("../img/card-img2.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 65%; }
  .card__heading--span {
    width: 60%;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .7rem; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right, #ad5389, #3c1053); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right, #a8e063, #56ab2f); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right, #FFC371, #FF5F6D); }
  .card__details {
    margin-top: 1.5rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        text-transform: uppercase;
        padding: 1rem;
        font-size: 1.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 3px solid #f7f7f7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    color: #fff; }
  .card__price-only {
    font-size: 1.5rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      background-color: #fff; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0deg);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 4rem 0; }
      .card__price-only {
        font-size: 1.5rem;
        text-transform: uppercase; }
      .card__price-value {
        font-size: 4rem;
        margin-bottom: 1rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: skew(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      transform: skew(0deg);
      padding: 4rem; } }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skew(12deg);
    position: relative; }
    @media (max-width: 56.25em) {
      .story__shape {
        transform: translateX(-2rem) skew(0deg); } }
  .story__text {
    transform: skew(12deg); }
    @media (max-width: 56.25em) {
      .story__text {
        transform: skew(0); } }
  .story__img {
    width: 100%;
    transform: scale(1.15);
    transition: .2s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: .2s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1.05);
    filter: blur(2px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  border: none;
  display: block;
  width: 80%;
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #ad5389; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: .7rem;
  margin-left: 2rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 48%;
  display: inline-block; }
  @media (max-width: 37.5em) {
    .form__radio-group {
      display: block;
      margin-bottom: 1rem; } }

.form__radio-input {
  display: none; }

.form__radio-input:checked + .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.form__radio-label {
  font-size: 1.6rem;
  padding-right: 1rem;
  position: relative;
  padding-left: 4.5rem;
  cursor: pointer; }

.form__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 5px solid #ad5389;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.7rem; }
  @media (max-width: 37.5em) {
    .form__radio-btn {
      display: block; } }
  .form__radio-btn::after {
    content: '';
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    background-color: #ad5389;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    width: 75%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all .4s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__left {
    width: 33.333333%;
    display: table-cell;
    overflow: hidden; }
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid #999;
    hyphens: auto; }
  .popup__close-btn {
    position: absolute;
    top: .7rem;
    right: 1.2rem;
    color: #333;
    font-size: 3rem;
    text-decoration: none;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transition: color .1s;
    line-height: 1; }
    .popup__close-btn:hover {
      color: #ad5389; }

.header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to right, #ad5389, #3c1053);
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80vh, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80vh, 0% 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0% 100%); } }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 5rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.5rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  @media (max-width: 37.5em) {
    .footer {
      padding: 6rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 4rem; } }
    @media (max-width: 37.5em) {
      .footer__logo-box {
        margin-bottom: 3rem; } }
  .footer__logo {
    height: 20rem;
    cursor: pointer; }
  .footer__nevigation {
    border-top: 1px solid #999;
    display: inline-block;
    padding-top: 2rem; }
    @media (max-width: 37.5em) {
      .footer__nevigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: .8rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #ad5389;
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .footer__copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  background-color: #fff;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#ad5389, #3c1053);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.85, 0, 0.15, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 4rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.262, 1.55); }

.navigation__list {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 224%;
  transition: all .3s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ad5389;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem;
  transition: all .2s; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    height: 2px;
    width: 3rem;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -15vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 18rem 0; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 14rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(173, 83, 137, 0.8), rgba(60, 16, 83, 0.8)), url(../img/startup.jpg);
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }
  @media (max-width: 37.5em) {
    .section-features {
      padding: 12rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-tours {
      padding: 16rem 0 8rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 11rem 0; } }
  @media (max-width: 37.5em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, #ad5389, #3c1053); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 11rem 0; } }
  @media (max-width: 37.5em) {
    .section-book {
      padding: 9rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/startup.jpg");
  background-size: 100%;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url("../img/startup.jpg");
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 100%), url("../img/startup.jpg");
      background-size: cover; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%;
        padding: 4rem; } }
