.footer {
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.5rem;

    @include respond(tab-port){
        padding: 8rem 0;
    }
    @include respond(phone){
        padding: 6rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
        @include respond(tab-port){
            margin-bottom: 4rem;
        }
        @include respond(phone){
            margin-bottom: 3rem;
        }
    }

    &__logo {
        height: 20rem;
        cursor: pointer;
    }

    &__nevigation {
        border-top: 1px solid $color-grey-dark;
        display: inline-block;
        padding-top: 2rem;

        @include respond(phone){
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        
        display: inline-block;

        &:not(:last-child){
            margin-right: .8rem;
        }

    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $text-color-grey;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
        
        &:hover,
        &:active {
            color: $color-primary-light;
            transform: scale(1.1) rotate(5deg);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port){
            width: 100%;
            float: none;
            text-align: center;
        }
    }
}