.card {
    perspective: 150rem;
    position: relative;
    height: 48rem;

    &__side {
        height: 48rem;
        transition: all .6s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;

        &--front {
        background-color: white;
        }
        &--back {
            background-color: steelblue;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            }

            &-2{
                background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            }
            &-3{
                background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
            }

        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    &__picture {
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        background-position: center;
        background-size: cover;

        &-1 {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark),
            url("../img/deals-img.jpg");
            
        }

        &-2 {
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark),
            url("../img/card-img.jpg");
        }

        &-3 {
            background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark),
            url("../img/card-img2.jpg");
        }
    }

    &__heading {
        font-size: 2.8rem;
        color: white;
        text-transform: uppercase;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 65%;
    }

    &__heading--span {
        width: 60%;
        -webkit-box-decoration-break: clone;
        -moz-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        padding: .7rem;

        &--1{
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        }

        &--2{
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
        }

        &--3{
            background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
        }
    }

    &__details {

        margin-top: 1.5rem;

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
                text-align: center;
                text-transform: uppercase;
                padding: 1rem;
                font-size: 1.5rem;

                &:not(:last-child){
                    border-bottom: 3px solid $color-grey-light;
                }
            }
        }
    }

    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    &__price-box{
        color: $color-white;

    }

    &__price-only{
        font-size: 1.5rem;
        text-transform: uppercase;

    }
    &__price-value{
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    
    @media only screen and (max-width: 56.25em),
    (hover: none) {
        height: auto;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        background-color: $color-white;
    
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;
    
            &--back {
            
                transform: rotateY(0deg);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

    
            }
        }
    
        &:hover &__side--front{
            transform: rotateY(0deg);
        }
    
        &__cta{
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 4rem 0;
        }
    
        &__price-only{
            font-size: 1.5rem;
            text-transform: uppercase;
    
        }
        &__price-value{
            font-size: 4rem;
            margin-bottom: 1rem;
        }

    }

}