.composition {
    position: relative;


    &__photo {
        width: 55%;
        position: absolute;
        z-index: 10;
        box-shadow: $default-box-shadow;
        transition: .2s all;
        outline-offset: 1.5rem;
        border-radius: 1rem;

        @include respond(tab-port){
            position: relative;
            float: left;
            width: 45%;
            box-shadow: $default-box-shadow;
        }
        

        &:hover {
            z-index: 20;
            transform: scale(1.3);
            outline: 1.5rem solid $color-primary-dark;
        }
    }

    &_p1 {

        @include respond(tab-port){
            margin-right: 2rem;
        }

    }
    &_p2 {
        top: 5rem;
        left: 40%;

        @include respond(tab-port){
            top: 0;
            left: 0;
            
        }
        
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

}