.composition {
    position: relative;


    &__photo {
        width: 55%;
        position: absolute;
        z-index: 10;
        transition: .2s all;
        outline-offset: 1.5rem;
        border-radius: 1rem;
        

        &:hover {
            z-index: 20;
            transform: scale(1.3);
            outline: 1.5rem solid $color-gradient-dark;
        }
    }

    &_p1 {

    }
    &_p2 {
        top: 5rem;
        left: 40%;
    }
    &_p3 {
        top: 12rem;
        right: 30%;
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

}