.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -15vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right, 
        rgba($color-primary-light, .8), 
        rgba($color-primary-dark, .8)), 
        url(../img/startup.jpg);
    background-position:  center;
    background-size:   cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light;
    padding: 25rem 0 25rem 0;
    margin-top: -10rem;
}